<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fdi.ucm.appagar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityInicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentacion.Contacto" />
        <activity android:name=".presentacion.NuevaCuenta" />
        <activity android:name=".presentacion.CargarCuenta" />
        <activity android:name=".presentacion.FinalizarCuenta" />
        <activity android:name=".presentacion.GestionarCuenta" />
        <activity android:name=".presentacion.NuevoPago" />
        <activity android:name=".presentacion.NuevoGasto" />
        <activity android:name=".presentacion.Ayuda" />
        <activity android:name=".presentacion.TablaCuenta"></activity>
    </application>

</manifest>